@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #0d1117;
}

.loading {
    padding: 2vh 2vh 2vh 2vh;
    color: #F9F6EE;
}

#pageContainer {
    width: 60%;
}

.button {
    margin: 0.5vh 0.5vh 1vh 0.5vh;
    background-color: #0d1117;
    color: #58a6ff;
    border: 2px solid #58a6ff;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    font-size: 1.025em;
}

.button:hover {
    background-color: #434343;
    border: 2px solid #58a6ff;
}

@media screen and (max-width: 500px) {
    #pageContainer {
        width: 95%;
    }

    .button {
        margin: 0.5vh 0.5vh 1vh 0.5vh;
        background-color: #0d1117;
        color: #58a6ff;
        border: 2px solid #58a6ff;
        border-radius: 10px;
        padding: 5px 10px 5px 10px;
        font-size: 1.025em;
        white-space: nowrap;
    }
}

.controlContainer {
    width: 100%;
}

table,
td,
th {
    border: 1px solid #F9F6EE;
    background-color: #AAAAAA;
    color: #0d1117;
    border-collapse: collapse;
    text-align: center;
    width: fit-content;
}

table {
    margin: 2vh 0 2vh 2vh;
}

p {
    color: white;
}

th {
    font-weight: bold;
}

td,
th {
    padding-left: 2vw;
    padding-right: 2vw;
}

.sysMessageSuccess {
    margin: 2vh 2vh 2vh 4vh;
    font-size: 1.2em;
    font-weight: bold;
    color: #00AA00;
}


.sysMessageError {
    margin: 2vh 2vh 2vh 4vh;
    font-size: 1.2em;
    font-weight: bold;
    color: #FF5555;
}


textarea {
    border: none;
    resize: none;
    margin-left: 1%;
    background-color: #AAAAAA;
    font-size: 1.2em;
    width: 98%;
}

textarea:focus {
    outline: none;
}

.controlContainer {
    width: fit-content;
    background-color: #AAAAAA;
    padding: 1vh 1vh 0px 0.5vh;
    margin: 2vh 0 0 2vh;
    border-radius: 5px;
    border: 4px solid #58a6ff;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
}